// Canvas Dependencies //

@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";
@import "dependencies/phone-slug.scss";
@import "dependencies/contact-modal.scss";
@import "dependencies/specials.scss";
@import "dependencies/location-section.scss";
@import "dependencies/slides.scss";
@import "dependencies/meet-the-doctor.scss";
@import "dependencies/reviews.scss";
@import "dependencies/services.scss";


// End Canvas Dependencies //


// Variables to define first //

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$third-font: 'Roboto Condensed', sans-serif;
$button-color: orange;
$button-hover:gray;

// CSS //

body {
  font-family:$primary-font;
}

h1 {
  font-size:64px;
}

h2 {
  font-size:48px;
}

h3 {
  font-size:36px;
}

h4 {
  font-size:28px;
}

h5 {
  font-size:24px;
}

h6 {
  font-size:20px;
}

p {
  font-size:18px;
}

.button {
  background:#F88201;
  width:auto;
  height:55px;
  display:flex;
  align-self:center;
  align-items:center;
  padding:2px 1.25em 0 1.25em;
  color:#FFF;
  border-radius:5px;
  text-transform:uppercase;
  border:2px solid #FEF6CA;
  font-size:18px;
  font-family:'Montserrat', sans-serif;
  justify-content:center;
  font-weight:300;
  box-shadow:none;
  @media (max-width:500px) {
    font-size:16px;
  }
}
.btn-wrap {
  display:flex;
  justify-content:center;
}
.button:hover {
  background:#CF6D01;
}
.content-wrap {
  padding:0;
}

section {
  padding:60px 0;
}
