#patient-reviews {
  background:url('../images/reviews-bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position:100% 100%;
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight:700;
    color: #898C7D;
    letter-spacing: 0.6px;
  }
  iframe {
    @media (max-width:600px) {
      max-height:450px;
    }
  }
}

#services {
  h2 {
    line-height:50px;
  }
}